rails-application:
  name: oopsy
  version: "0.1.0"

  image:
    repository: klausmeyer/oopsy

  environment:
    # sealedSecrets: false
    plain:
      # PUBLIC_HOST: "<...>"
      # PUBLIC_PORT: "<...>"
      # PUBLIC_SCHEME: "<...>"
      REDIS_URL: "redis://oopsy-redis:6379/0"
      # WEBHOOK_DISCORD_ENABLED: "<...>"
      # WEBHOOKS_ENABLED: "<...>"
    secret: {}
      # DATABASE_URL: "<...>"
      # SECRET_KEY_BASE: "<...>"
      # WEBHOOK_DISCORD_URL: "<...>"

  deployments:
    web:
      enabled: true
    sidekiq:
      args: ["./bin/sidekiq"]
      enabled: true

redis:
  haMode:
    enabled: false
